﻿@using M183Project.Client.Models.Authentication
@using M183Project.Client.Services

@inject CustomStateProvider AuthStateProvider

<EditForm OnValidSubmit="Submit" Model="LoginModel">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="username" class="form-text">Username</label>
        <InputText id="username" class="form-control" @bind-Value="@LoginModel.UserName" autofocus placeholder="Username" />
    </div>
    <div class="form-group">
        <label for="password" class="form-text">Password</label>
        <InputText type="password" id="password" class="form-control" @bind-Value="@LoginModel.Password" placeholder="Password" />
    </div>

    <button type="submit" class="btn btn-group-lg btn-primary btn-block">Sign In</button>

    @if (!string.IsNullOrEmpty(Error))
    {
        <p class="alert alert-danger">@Error</p>
    }

    <NavLink href="register">
        <h6 class="font-weight-normal text-center">Don't have an account? You can create one here.</h6>
    </NavLink>
</EditForm>


@code
{
    private LoginModel LoginModel { get; set; } = new();
    private string Error { get; set; }

    [Parameter]
    public EventCallback<LoginModel> OnSuccessfulLogin { get; set; }

    private async Task Submit()
    {
        Error = null;
        try
        {
            await AuthStateProvider.Login(LoginModel);
            await OnSuccessfulLogin.InvokeAsync(LoginModel);
        }
        catch (UnauthorizedAccessException)
        {
            Error = "Invalid Credentials!";
            StateHasChanged();
        }
        catch (Exception e)
        {
            Error = e.Message;
        }
    }
}
