﻿@using M183Project.Client.Services
@using M183Project.Client.Models.Authentication
@inject CustomStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<EditForm Model="SmsLoginModel" OnValidSubmit="Submit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="token" class="form-text">Sms Token</label>
        <InputNumber id="token" class="form-control" autofocus placeholder="" @bind-Value="SmsLoginModel.SmsToken" />
    </div>

    <button type="submit" class="btn btn-group-lg btn-primary btn-block">Sign in</button>

    @if (!string.IsNullOrEmpty(Error))
    {
        <p class="alert alert-danger">@Error</p>
    }
</EditForm>

@code
{
    [Parameter]
    public LoginModel LoginModel { get; set; }
    public SmsLoginModel SmsLoginModel { get; set; } = new();

    [Parameter]
    public EventCallback OnLoginSuccessful { get; set; }

    private string Error { get; set; }

    private async Task Submit()
    {
        Error = null;
        try
        {
            await AuthStateProvider.SmsLogin(SmsLoginModel, LoginModel);
            await OnLoginSuccessful.InvokeAsync();
        }
        catch (UnauthorizedAccessException)
        {
            Error = "Invalid Credentials!";
            StateHasChanged();
        }
        catch (Exception e)
        {
            Error = e.Message;
        }
    }
}
