﻿@using M183Project.Client.Services
@using M183Project.Client.Models.Authentication
@inherits LayoutComponentBase

@inject CustomStateProvider AuthStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <div class="d-flex justify-content-end">
                        <NavLink href="logout" class="mx-1">Logout</NavLink>
                        <NavLink href="account" class="mx-1">@_currentUserName</NavLink>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="d-flex justify-content-end">
                        <NavLink href="login" class="mx-1">Login</NavLink>
                        <NavLink href="Register" class="mx-1">Register</NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{
    private string _currentUserName;

    protected override async Task OnInitializedAsync()
    {
        var result = await AuthStateProvider.GetAuthenticationStateAsync();
        _currentUserName = result.User.Identity?.Name;

        AuthStateProvider.AuthenticationStateChanged += async task =>
        {
            var result = await task;
            _currentUserName = result.User.Identity?.Name;
            StateHasChanged();
        };
    }
}
