﻿@using M183Project.Common.Roles
@using M183Project.Client.Services

@inject CustomStateProvider AuthStateProvider

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">M183Project</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="submit">
                <span class="oi oi-plus" aria-hidden="true"></span> Submit a post
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <AuthorizeView Roles="@DatabaseRoles.Administrator">
                <Authorized>
                    <NavLink class="nav-link" href="usermanagement">
                        <span class="oi oi-people" aria-hidden="true"></span> User Management
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </li>
    </ul>
</div>

@code {

    private bool _collapseNavMenu = false;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        AuthStateProvider.AuthenticationStateChanged += _ => StateHasChanged();
    }

}
