﻿@using Faso.Blazor.SpinKit
@using M183Project.Client.Services
@inject SpinnerService SpinnerService

<style>
    .spinner-container {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 999;
        top: 50%;
        left: 50%;
    }
</style>

@if (_isVisible)
{
    <div class="spinner-container">
        <SpinKitCircle/>
    </div>
}

@code
{
    private bool _isVisible;
    protected override void OnInitialized()
    {
        SpinnerService.OnShow += () =>
        {
            _isVisible = true;
            StateHasChanged();
        };
        SpinnerService.OnHide += () =>
        {
            _isVisible = false;
            StateHasChanged();
        };
    }
}
