﻿@if (RecoveryCodesLeft == 0)
{
    <div class="alert alert-danger">
        <strong>You have no recovery codes left.</strong>
        <p>You must <button class="btn btn-link">generate a new set of recovery codes</button> before you can use them again.</p>
    </div>
}
else if (RecoveryCodesLeft == 1)
{
    <div class="alert alert-danger">
        <strong>You have 1 recovery code left.</strong>
        <p>You can <button class="btn btn-link">generate a new set of recovery codes</button>.</p>
    </div>
}
else if (RecoveryCodesLeft <= 3)
{
    <div class="alert alert-warning">
        <strong>You have @RecoveryCodesLeft recovery codes left.</strong>
        <p>You should <button class="btn btn-link">generate a new set of recovery codes</button>.</p>
    </div>
}

@code {
    [Parameter]
    public int RecoveryCodesLeft { get; set; }
}
