﻿@inject HttpClient HttpClient

<div class="alert alert-warning" role="alert">
    <p>
        <strong>This action only disables Two Factor</strong>
    </p>
    <p>
        Disabling 2FA does not change the keys used in the authenticator app. If you which to change the key
        used in the authenticator app you should <button class="btn btn-link" @onclick="ResetAuthenticator">reset your authenticator</button>
    </p>
    <button class="btn btn-danger btn-block" @onclick="DisableAuth">Disable 2FA</button>
</div>

@code {

    [Parameter] public EventCallback OnDisableSuccess { get; set; }
    [Parameter] public EventCallback OnSwitchToReset { get; set; }

    private async Task ResetAuthenticator() => await OnSwitchToReset.InvokeAsync();

    private async Task DisableAuth()
    {
        var result = await HttpClient.PostAsync("api/Manage/DisableAuthenticator", null);
        result.EnsureSuccessStatusCode();
        await OnDisableSuccess.InvokeAsync();
    }
}
