﻿@using Newtonsoft.Json
@using M183Project.Shared.Manage
@using M183Project.Client.Models.Manage.TwoFactor
@using System.Text
@using System.Net
@inject HttpClient HttpClient

<div class="row">
    <p>To use an authenticator app go through the following steps:</p>
    <ol>
        <li>
            <p>
                Download a two-factor authenticator app like Microsoft Authenticator for
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> and
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> or
                Google Authenticator for
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> and
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>Scan the QR Code or enter this key <kbd>@_twoFactorEnableAuthenticatorModel.SharedKey</kbd> into your two-factor authenticator app. Spaces and casing do not matter.</p>
            <div id="qrCode">
                <img height="200" src="@_imageAsBase64" alt="qrCode" />
            </div>
            <div id="qrCodeData" data-url="@_twoFactorEnableAuthenticatorModel.AuthenticatorUri"></div>
        </li>
        <li>
            <p>
                Once you've scanned the QR Code or input the key above, your two-factor authenticator app will provide you
                with an unique code. Enter thee code in the confirmation box below.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <EditForm Model="_enableRequestModel" OnValidSubmit="SubmitCode" @onkeypress:preventDefault>
                        <DataAnnotationsValidator />

                        <div class="form-group">
                            <label for="inputCode">Verification Code</label>
                            <InputText id="inputCode" @bind-Value="_enableRequestModel.Code" class="form-control" autocomplete="off" />
                        </div>

                        <button class="btn btn-primary" type="submit">Save</button>
                    </EditForm>
                </div>
            </div>
        </li>
    </ol>
</div>

@if (!string.IsNullOrEmpty(_error))
{
    <p class="alert alert-danger">
        @_error
    </p>
}

<RecoveryCodes @ref="_recoveryCodesComponent" ReceivedRecoveryCodes="_recoveryCodes" OnClose="OnCloseRecoveryCodes"></RecoveryCodes>

@code {
    private readonly TwoFactorEnableAuthenticatorModel _twoFactorEnableAuthenticatorModel = new();
    private readonly TwoFactorEnableRequestModel _enableRequestModel = new();

    private RecoveryCodes _recoveryCodesComponent;

    private IEnumerable<string> _recoveryCodes = new List<string>();

    private string _imageAsBase64;
    private string _error;

    [Parameter]
    public EventCallback OnSuccessfulEnable { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await HttpClient.GetAsync("api/Manage/CheckTwoFactorEnable");
        result.EnsureSuccessStatusCode();

        var (sharedKey, qrCodeUri) = JsonConvert.DeserializeObject<TwoFactorInfoResponse>(await result.Content.ReadAsStringAsync());
        _twoFactorEnableAuthenticatorModel.SharedKey = sharedKey;

        var qrCode = M183Project.Client.Helpers.QrCodeHelper.GetQrCode(new[] { qrCodeUri });
        _imageAsBase64 = $"data:image/png;base64,{Convert.ToBase64String(qrCode)}";
    }

    private async Task SubmitCode()
    {
        var requestContent = new StringContent(JsonConvert.SerializeObject(new TwoFactorEnableRequest(_enableRequestModel.Code)), Encoding.UTF8, "application/json");
        try
        {
            var result = await HttpClient.PostAsync("api/Manage/TwoFactorEnable", requestContent);
            if (result.StatusCode == HttpStatusCode.BadRequest)
                throw new UnauthorizedAccessException();

            result.EnsureSuccessStatusCode();

            var (recoveryCodes, doShowRecoveryCodes) = JsonConvert.DeserializeObject<TwoFactorEnableResponse>(await result.Content.ReadAsStringAsync());
            if (doShowRecoveryCodes)
                ShowRecoveryCodes(recoveryCodes);
            else
                await OnSuccessfulEnable.InvokeAsync();
        }
        catch (UnauthorizedAccessException)
        {
            _error = "Entered code is invalid!";
        }
        catch (Exception e)
        {
            _error = e.Message;
        }
    }

    private void ShowRecoveryCodes(IEnumerable<string> recoveryCodes)
    {
        _recoveryCodes = recoveryCodes;
        _recoveryCodesComponent.Show();
    }

    private async Task OnCloseRecoveryCodes() => await OnSuccessfulEnable.InvokeAsync();

}
