﻿<Modal @ref="_recoveryCodesModalRef">
    <ModalBackdrop/>
    <ModalContent>
        <ModalHeader>
            <ModalTitle>Recovery Codes</ModalTitle>
            <CloseButton Clicked="Close"></CloseButton>
        </ModalHeader>
        <div class="modal-header">
            <p class="modal-title">These are the generated recovery codes. Make sure to store them in a safe place.</p>
        </div>
        <ModalBody>
            <div class="row">
                <div class="col-md-12">
                    @for (var row = 0; row < ReceivedRecoveryCodes.Count(); row += 2)
                    {
                        <code>
                            @ReceivedRecoveryCodes.ElementAt(row)
                        </code>
                        <text>&nbsp;</text>
                        <code>
                            @ReceivedRecoveryCodes.ElementAt(row + 1)
                        </code>
                        <text>&nbsp;</text>
                    }
                </div>
            </div>
        </ModalBody>
        <ModalFooter>
            <button class="btn btn-block btn-primary" @onclick="Close">Close</button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code
{
    private Modal _recoveryCodesModalRef;

    [Parameter]
    public IEnumerable<string> ReceivedRecoveryCodes { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    private async Task Close() => await OnClose.InvokeAsync();

    public void Show()
    {
        _recoveryCodesModalRef.Show();
    }
}
