﻿@using Newtonsoft.Json
@using M183Project.Shared.Manage
@inject HttpClient HttpClient

<div class="alert alert-warning" role="alert">
    <p>
        <Icon Name="IconName.ExclamationTriangle" style="color: yellow"></Icon>
        <strong>
            Put these codes in a safe place.
        </strong>
    </p>
    <p>
        If you lose your device and don't have the recovery codes you will lose access to two factor authentication.
    </p>
    <p>
        Generating new recovery codes does not change the keys used in the authenticator app. If you wish to change the keys
        used in the authenticator app you should <button class="btn btn-link" @onclick="ResetAuthenticator">reset your authenticator</button>.
    </p>
    <button class="btn btn-danger btn-block" @onclick="GenerateRecoveryCodes">Generate new recovery codes.</button>
</div>

<RecoveryCodes @ref="_recoveryCodesComponent" ReceivedRecoveryCodes="_generatedRecoveryCodes" OnClose="CloseRecoveryCodes"></RecoveryCodes>

@code {

    [Parameter]
    public EventCallback OnResetAuthenticator { get; set; }

    [Parameter]
    public EventCallback OnSuccessfulGeneration { get; set; }

    private RecoveryCodes _recoveryCodesComponent;
    private IEnumerable<string> _generatedRecoveryCodes = new List<string>();

    private async Task ResetAuthenticator() => await OnResetAuthenticator.InvokeAsync();

    private async Task CloseRecoveryCodes() => await OnSuccessfulGeneration.InvokeAsync();

    private async Task GenerateRecoveryCodes()
    {
        var result = await HttpClient.PostAsync("api/Manage/TwoFactorGenerate", null);
        result.EnsureSuccessStatusCode();

        var content = JsonConvert.DeserializeObject<TwoFactorGenerateResponse>(await result.Content.ReadAsStringAsync());
        _generatedRecoveryCodes = content.RecoveryCodes;

        _recoveryCodesComponent.Show();
    }
}
