﻿@using Blazorise.Icons.FontAwesome
@inject HttpClient HttpClient

<div class="alert alert-warning" role="alert">
    <p>
        <Blazorise.Icon Name="FontAwesomeIcons.ExclamationTriangle" style="color:yellow"/>
        <strong>If you reset your authenticator key your authenticator app will not work until you reconfigure it.</strong>
    </p>
    <p>
        This process disables 2Fa until you verify your authenticator app.
        If you do not complete your authenticator app configuration you may not be able to authenticate with 2FA again.
    </p>
    
    <button class="btn btn-warning" @onclick="Reset">Reset authenticator key</button>
    <button class="btn btn-primary" @onclick="Cancel">Cancel</button>
</div>

@code {

    [Parameter]
    public EventCallback OnSuccessfulReset { get; set; }

    private async Task Cancel() => await OnSuccessfulReset.InvokeAsync();

    private async Task Reset()
    {
        var result = await HttpClient.PostAsync("api/Manage/ResetAuthenticator", null);
        result.EnsureSuccessStatusCode();

        await OnSuccessfulReset.InvokeAsync();
    }
}
