﻿@page "/account"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<h1>Manage your account</h1>

<Accordion>
    <Collapse Visible="_collapse[0]">
        <CollapseHeader>
            <Heading Size="HeadingSize.Is5">
                <Button Clicked="() => SwitchCollapse(0)">Phone</Button>
            </Heading>
        </CollapseHeader>
        <CollapseBody>
            <Phone></Phone>
        </CollapseBody>
    </Collapse>
    <Collapse Visible="_collapse[1]">
        <CollapseHeader>
            <Heading Size="HeadingSize.Is5">
                <Button Clicked="() => SwitchCollapse(1)">Password</Button>
            </Heading>
        </CollapseHeader>
        <CollapseBody>
            <Password></Password>
        </CollapseBody>
    </Collapse>
    <AuthorizeView Roles="Administrator">
        <Authorized>
            <Collapse Visible="_collapse[2]">
                <CollapseHeader>
                    <Heading Size="HeadingSize.Is5">
                        <Button Clicked="() => SwitchCollapse(2)">TwoFactor</Button>
                    </Heading>
                </CollapseHeader>
                <CollapseBody>
                    <TwoFactorIndex></TwoFactorIndex>
                </CollapseBody>
            </Collapse>
        </Authorized>
    </AuthorizeView>
</Accordion>

@code
{
    private bool[] _collapse = {false, false, false};

    private void SwitchCollapse(int index)
    {
        _collapse = new bool[3];
        _collapse[index] = true;
        StateHasChanged();
    }
}
