﻿@using M183Project.Client.Models.Manage
@using M183Project.Client.Services

@inject ManageUserService ManageUserService

<h3>Password</h3>

<EditForm Model="_changePasswordModel" OnValidSubmit="ChangePasswordSubmit">
    <DataAnnotationsValidator/>
    
    <div class="form-group">
        <label class="form-text" for="currentPassword">Current Password</label>
        <InputText id="currentPassword" type="password" class="form-control" @bind-Value="_changePasswordModel.CurrentPassword" autofocus/>
    </div>
    <div class="form-group">
        <label class="form-text" for="newPassword">New Password</label>
        <InputText id="newPassword" type="password" class="form-control" @bind-Value="_changePasswordModel.NewPassword"/>
    </div>
    <div class="form-group">
        <label class="form-text" for="newPasswordConfirm">Confirm new Password</label>
        <InputText id="newPasswordConfirm" type="password" class="form-control" @bind-Value="_changePasswordModel.NewPasswordConfirm"/>
    </div>

    <button type="submit" class="btn btn-block btn-primary">Change Password</button>
    
    @if (!string.IsNullOrEmpty(_error))
    {
        <p class="alert alert-danger">@_error</p>
    }
</EditForm>

@code {
    private ChangePasswordModel _changePasswordModel = new();

    private string _error = string.Empty;

    private async Task ChangePasswordSubmit()
    {
        try
        {
          await ManageUserService.ChangePasswordAsync(_changePasswordModel);
        }
        catch (AccessViolationException)
        {
            _error = "Invalid Credentials!";
            StateHasChanged();
        }
    }
}
