﻿@using M183Project.Client.Models.Manage
@using M183Project.Shared.Manage
@using Newtonsoft.Json
@using System.Net
@using System.Text
@using M183Project.Client.Services

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject ManageUserService ManageUserService

<h3>Phone number</h3>

@if (!_isPhoneNumberChangeRequested)
{
    <EditForm Model="_changePhoneModel" OnValidSubmit="ChangePhoneNumberSubmit">
        <DataAnnotationsValidator/>
        
        <div class="form-group">
            <label for="currentPhoneNumber" class="form-text">Current Phone number</label>
            <InputText id="currentPhoneNumber" @bind-Value="_changePhoneModel.CurrentPhoneNumber" disabled="true" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="newPhoneNumber" class="form-text">New Phone number</label>
            <InputText id="newPhoneNumber" @bind-Value="_changePhoneModel.NewPhoneNumber" class="form-control" autofocus/>
        </div>
        
        <button class="btn btn-block btn-primary" type="submit">Submit</button>
    </EditForm>
}
else
{
    <EditForm Model="_verifyPhoneChangeModel" OnValidSubmit="VerifyChangedPhoneNumberSubmit">
        <DataAnnotationsValidator/>
        
        <div class="form-group">
            <label for="verifyToken" class="form-text">Verify Token</label>
            <InputText id="verifyToken" @bind-Value="_verifyPhoneChangeModel.Token" class="form-control"/>
        </div>

        <button class="btn btn-block btn-primary" type="submit">Submit</button>
    </EditForm>
}

@if (!string.IsNullOrEmpty(Error))
{
    <p class="alert alert-danger">@Error</p>
}

@code
{
    private ChangePhoneModel _changePhoneModel = new();
    private VerifyPhoneChangeModel _verifyPhoneChangeModel = new();
    private bool _isPhoneNumberChangeRequested = false;

    private string Error { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _changePhoneModel = await ManageUserService.GetPhoneNumberInfoAsync();
    }

    private async Task ChangePhoneNumberSubmit()
    {
        await ManageUserService.ChangePhoneNumberAsync(_changePhoneModel);

        _isPhoneNumberChangeRequested = true;
        StateHasChanged();
    }

    private async Task VerifyChangedPhoneNumberSubmit()
    {
        try
        {
            await ManageUserService.VerifyChangePhoneNumberAsync(_verifyPhoneChangeModel, _changePhoneModel);
            NavigationManager.NavigateTo(NavigationManager.Uri, true);
        }
        catch (AccessViolationException)
        {
            Error = "Invalid Token";
        }
    }
}
