﻿@using M183Project.Client.Pages.Manage.TwoFactor
@using M183Project.Shared.Manage
@using Newtonsoft.Json

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

@switch (_currentStatus)
{
    case TwoFactorStatus.AuthenticatorNotSetup:
        {
            <button class="btn btn-block btn-primary" @onclick="EnableAuthenticator">Setup authenticator</button>
            break;
        }
    case TwoFactorStatus.EnableAuthenticator:
        {
            <EnableAuthenticator OnSuccessfulEnable="OnInitializedAsync" />
            break;
        }
    case TwoFactorStatus.TwoFactorDisabled:
        {
            <button class="btn btn-block btn-primary" @onclick="EnableAuthenticator">Enable Authenticator</button>
            break;
        }
    case TwoFactorStatus.TwoFactorEnabled:
        {
            <AuthenticatorEnabled RecoveryCodesLeft="@RecoveryCodesLeft" />

            @if (IsMachineRemembered)
            {
                <button class="btn btn-block btn-warning" @onclick="ForgetThisBrowser">Forget this browser</button>
            }

            <button class="btn btn-block btn-primary" @onclick="Disable2Fa">Disable 2FA</button>
            <button class="btn btn-block btn-primary" @onclick="ResetAuthenticator">Reset authenticator</button>
            <button class="btn btn-block btn-primary" @onclick="ResetRecoveryCodes">Reset recovery codes</button>

            break;
        }
    case TwoFactorStatus.ResetAuthenticator:
        {
            <ResetAuthenticator OnSuccessfulReset="OnInitializedAsync" />
            break;
        }
    case TwoFactorStatus.ResetRecoveryCodes:
        {
            <ResetRecoveryCodes OnResetAuthenticator="ResetAuthenticator" OnSuccessfulGeneration="OnInitializedAsync"></ResetRecoveryCodes>
            break;
        }
    case TwoFactorStatus.DisableAuthenticator:
        {
            <DisableAuthenticator OnDisableSuccess="OnInitializedAsync" OnSwitchToReset="ResetAuthenticator" />
            break;
        }
    default:
        {
            throw new ArgumentOutOfRangeException();
        }
}

@code
{
    private TwoFactorStatus _currentStatus;
    private int RecoveryCodesLeft { get; set; }
    private bool IsMachineRemembered { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await HttpClient.GetAsync("api/Manage/TwoFactor");
        result.EnsureSuccessStatusCode();

        var content = JsonConvert.DeserializeObject<TwoFactorResponse>(await result.Content.ReadAsStringAsync());
        RecoveryCodesLeft = content.RecoveryCodesLeft;
        IsMachineRemembered = content.IsClientRemembered;
        if (!content.HasAuthenticator)
            _currentStatus = TwoFactorStatus.AuthenticatorNotSetup;
        else
            _currentStatus = content.IsAuthenticatorEnabled ? TwoFactorStatus.TwoFactorEnabled : TwoFactorStatus.TwoFactorDisabled;
    }

    private void EnableAuthenticator()
    {
        _currentStatus = TwoFactorStatus.EnableAuthenticator;
        StateHasChanged();
    }

    private async Task ForgetThisBrowser()
    {
        var result = await HttpClient.PostAsync("api/Manage/TwoFactorForget", null);
        result.EnsureSuccessStatusCode();
        await OnInitializedAsync();
    }

    private void Disable2Fa()
    {
        _currentStatus = TwoFactorStatus.DisableAuthenticator;
        StateHasChanged();
    }

    private void ResetRecoveryCodes()
    {
        _currentStatus = TwoFactorStatus.ResetRecoveryCodes;
        StateHasChanged();
    }

    private void ResetAuthenticator()
    {
        _currentStatus = TwoFactorStatus.ResetAuthenticator;
        StateHasChanged();
    }

    private enum TwoFactorStatus
    {
        AuthenticatorNotSetup,
        TwoFactorEnabled,
        TwoFactorDisabled,
        EnableAuthenticator,
        DisableAuthenticator,
        ResetRecoveryCodes,
        ResetAuthenticator
    }
}
