﻿@page "/login"
@using M183Project.Client.Pages.Authentication.Components
@using M183Project.Client.Services
@using M183Project.Client.Models.Authentication
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.EntityFrameworkCore.Metadata.Internal

@inject CustomStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<h1 class="h2 font-weight-normal">Login</h1>

@if (_showPasswordLogin)
{
    <PasswordLogin @ref="_passwordLogin" OnSuccessfulLogin="@PasswordSuccessful"/>
}
else
{
    <SmsLogin @ref="_smsLogin" LoginModel="@_loginModel" OnLoginSuccessful="@SmsSuccessful"/>
}

@code
{
    private PasswordLogin _passwordLogin;
    private SmsLogin _smsLogin;

    [Parameter]
    public string RedirectUri { get; set; }

    private LoginModel _loginModel = new();

    private bool _showPasswordLogin = true;

    protected override void OnInitialized()
    {
        var query = new Uri(NavigationManager.Uri).Query;
        if (QueryHelpers.ParseQuery(query).TryGetValue("returnUrl", out var value))
            RedirectUri = value.ToString();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender)
            return;
    }

    private void SmsSuccessful()
    {
        if(!string.IsNullOrEmpty(RedirectUri))
            NavigationManager.NavigateTo(RedirectUri);
    }

    private void PasswordSuccessful(LoginModel model)
    {
        _showPasswordLogin = false;
        _loginModel = model;
    }
}
