﻿@page "/register"
@using M183Project.Client.Services
@using M183Project.Client.Models.Authentication

@inject CustomStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<h1 class="h2 font-weight-normal">Register</h1>

<EditForm OnValidSubmit="Submit" Model="RegisterModel">
    <DataAnnotationsValidator/>
    
    <div class="form-group">
        <label for="username" class="form-text">Username</label>
        <InputText id="username" placeholder="Username" autofocus @bind-Value="@RegisterModel.Username"/>
    </div>
    <div class="form-group">
        <label for="email" class="form-text">Email</label>
        <InputText id="email" placeholder="info@example.com" @bind-Value="@RegisterModel.Email"/>
    </div>
    <div class="form-group">
        <label for="phoneNumber" class="form-text">Phone number</label>
        <InputText id="phoneNumber" placeholder="+000000000" @bind-Value="@RegisterModel.PhoneNumber"/>
    </div>
    <div class="form-group">
        <label for="password" class="form-text">Password</label>
        <InputText id="password" type="password" placeholder="Password" @bind-Value="@RegisterModel.Password"/>
    </div>
    <div class="form-group">
        <label for="passwordConfirm" class="form-text">Confirm Password</label>
        <InputText id="passwordConfirm" type="password" placeholder="Confirm Passsword" @bind-Value="@RegisterModel.PasswordConfirm"/>
    </div>
    
    <button type="submit" class="btn btn-lg btn-primary btn-block">Create account</button>
    @if (!string.IsNullOrEmpty(Error))
    {
        <p class="alert alert-danger">@Error</p>
    }
    
    <NavLink href="login">
        <h6 class="font-weight-normal text-center">Already have an account? Click here to login.</h6>
    </NavLink>

</EditForm>

@code
{
    private RegisterModel RegisterModel { get; } = new();
    private string Error { get; set; }

    private async Task Submit()
    {
        Error = null;
        try
        {
            await AuthStateProvider.Register(RegisterModel);
            NavigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            Error = e.Message;
        }
    }
}
