﻿@page "/submit"
@using M183Project.Client.Services.Posts
@using M183Project.Client.Models.Posts
@using Markdig
@using Microsoft.AspNetCore.Authorization

@inject IPostService PostService
@inject NavigationManager NavigationManager

@attribute [Authorize]

<h3>Submit a post.</h3>
<div class="container">
    <div class="row position-relative">
        <EditForm OnValidSubmit="SubmitPost" Model="_model" class="w-100 position-absolute">

            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="title">Title</label>
                <InputText id="title" @bind-Value="_model.Title" class="form-control" autofocus />
            </div>

            <div class="form-group h-100">
                <div class="row">
                    <div class="col">
                        <small class="form-text text-muted">Content (supports markdown)</small>
                        <textarea class="form-control h-100" @bind-value="_model.Content" @bind-value:event="oninput"></textarea>
                    </div>
                    @if (_showMarkdownPreview)
                    {
                        <div class="col">
                            <small class="form-text text-muted">Markdown preview</small>
                            @((MarkupString) Markdown.ToHtml(_model.Content))
                        </div>
                    }
                </div>
                
                <button class="btn btn-outline-primary btn-block mt-5" type="button" style="bottom: 0" @onclick="TogglePreview">Show preview</button>
            </div>

            <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </EditForm>
    </div>
</div>
@code
{
    private CreatePostModel _model = new();

    private bool _showMarkdownPreview = false;

    private async Task SubmitPost()
    {
        var result = await PostService.CreatePost(_model);
        NavigationManager.NavigateTo($"post/{result.ToString()}", true);
    }

    private void TogglePreview() => _showMarkdownPreview = !_showMarkdownPreview;
}
