﻿@page "/dashboard"
@using M183Project.Client.Services.Posts
@using M183Project.Client.Models.Posts
@using Humanizer
@using M183Project.Common.Post
@using M183Project.Common.Roles
@using Markdig
@using System.Net

@inject IPostService PostService
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<h1>Dashboard</h1>

<div class="container">
    <div class="d-flex justify-content-between mb-4">
        <h3>Recent posts</h3>
        <button class="btn btn-outline-primary" @onclick="NavigateToSubmitPost">Create Post</button>
        <AuthorizeView Roles="@DatabaseRoles.Administrator">
            <button class="btn btn-outline-warning" @onclick="CreateDemoData">Create Demo data</button>
        </AuthorizeView>
    </div>
    <Virtualize ItemsProvider="LoadPosts" Context="post">
        <div class="border rounded p-2" @key="@post.Id">
            <div class="d-flex justify-content-between align-items-end">
                <h2 @onclick="(() => NavigateToPost(post.Id))">@post.Title</h2>
                <div class="d-flex flex-column">
                    <div class="d-flex">
                        <NavLink href="@($"/user/{post.OriginalPoster}")" class="h5 nav-link pb-0">@post.OriginalPoster</NavLink>
                        <span class="m-auto">@($"Posted {post.CreatedAt.Humanize()}")</span>
                    </div>
                    <span class="m-auto py-2 px-5 rounded @GetAlertLevelFromStatus(post.Status)">@($"{post.Status.ToString()}")</span>
                </div>
            </div>
            <hr/>
            <div>
                <p class="h-50">@Markdown.ToPlainText(post.Content.Truncate(200))</p>
            </div>
        </div>
    </Virtualize>
</div>
@code
{
    private int _totalSize;

    private void NavigateToPost(Guid id) => NavigationManager.NavigateTo($"/post/{id.ToString()}");
    private void NavigateToSubmitPost() => NavigationManager.NavigateTo("/submit");

    private async ValueTask<ItemsProviderResult<PostModel>> LoadPosts(ItemsProviderRequest request)
    {
        var postNum = Math.Min(request.Count, _totalSize - request.StartIndex);
        var result = await PostService.GetPosts(request.StartIndex, postNum == 0 ? request.Count : postNum);
        _totalSize = result.TotalSize;

        return new ItemsProviderResult<PostModel>(result.Items, _totalSize);
    }

    private async Task CreateDemoData()
    {
        var result = await HttpClient.GetAsync("api/Post/CreateDemoData");
        result.EnsureSuccessStatusCode();
        NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }

    private static string GetAlertLevelFromStatus(PostStatus status)
    {
        switch (status)
        {
            case PostStatus.Hidden:
                return "alert-warning";
            case PostStatus.Deleted:
                return "alert-danger";
            case PostStatus.Published:
                return "alert-success";
            default:
                throw new ArgumentOutOfRangeException(nameof(status), status, null);
        }
    }
}
