﻿@page "/post/{StringPostId}"
@using M183Project.Client.Services.Posts
@using M183Project.Client.Models.Posts
@using Humanizer
@using M183Project.Common.Post
@using Markdig
@using System.Net
@using System.Security.Claims
@using M183Project.Client.Models.Comments
@using M183Project.Common.Roles

@inject IPostService PostService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider

@if (_currentPost == null)
{
    <h2>Post not found!</h2>
}
else
{
    <div class="container">
        <div class="d-flex justify-content-between align-items-end">
            <h1>@_currentPost.Title</h1>
            <div class="d-flex flex-column">
                <div class="d-flex">
                    <NavLink href="@($"/user/{_currentPost.OriginalPoster}")" class="h5 nav-link pb-0">@_currentPost.OriginalPoster</NavLink>
                    <span class="m-auto">@($"Posted {_currentPost.CreatedAt.Humanize()}")</span>
                </div>
                <span class="m-auto py-2 px-5 rounded @GetAlertLevelFromStatus(_currentPost.Status)">@($"{_currentPost.Status.ToString()}")</span>
            </div>
        </div>
        <hr />
        @if (string.Equals(_currentUser.Identity?.Name, _currentPost.OriginalPoster) || _currentUser.IsInRole(DatabaseRoles.Administrator))
        {
            <div class="row justify-content-end">
                @if (_currentPost.Status != PostStatus.Deleted)
                {
                    <div class="btn btn-danger mx-2" @onclick="DeletePost">Delete</div>
                }
                @if (_currentUser.IsInRole(DatabaseRoles.Administrator))
                {
                    @switch (_currentPost.Status)
                    {
                        case PostStatus.Published:
                            {
                                <button class="btn btn-outline-warning mx-2" @onclick="HidePost">Hide</button>
                                break;
                            }
                        case PostStatus.Hidden:
                            {
                                <button class="btn btn-outline-success mx-2" @onclick="PublishPost">Publish</button>
                                break;
                            }
                    }
                }
            </div>
        }

        <div>
            <p>@((MarkupString) Markdown.ToHtml(_currentPost.Content))</p>
        </div>
        
        <hr/>

        <h4>Comments</h4>

        @if (_currentUser.Identity?.IsAuthenticated == true)
        {
            <div>
                <EditForm OnValidSubmit="PostComment" Model="_postCommentModel">
                    <DataAnnotationsValidator/>
                    
                    <div class="form-group">
                        <textarea class="form-control h-100" @bind-value="_postCommentModel.CommentContent" @bind-value:event="oninput"></textarea>
                        <ValidationMessage class="text-muted small" For="() => _postCommentModel.CommentContent"/>
                    </div>
                    
                    <button class="btn btn-block btn-outline-primary" type="submit">Comment</button>
                </EditForm>
            </div>
        }

        <div class="mt-5">
            <Virtualize Context="comment" ItemsProvider="LoadComments">
                <div class="border rounded p-2">
                    <div class="d-flex justify-content-between align-items-end">
                        <NavLink href=@($"/user/{comment.OriginalPosterUsername}") class="h5 nav-link pb-0 mb-0">@comment.OriginalPosterUsername</NavLink>
                        <span>@($"Posted {comment.CreatedAt.Humanize()}")</span>
                    </div>
                    <hr />
                    <div>
                        <span class="h-50">@comment.Content</span>
                    </div>
                </div>
            </Virtualize>
        </div>
    </div>

    <Modal @ref="_twoFactorCodeModal">
        <ModalBackdrop />
        
        <ModalContent IsCentered="true">
            <ModalHeader>
                <ModalTitle>Two factor authentication</ModalTitle>
                <CloseButton Clicked="CancelPublish" />
            </ModalHeader>
            <ModalBody>
                <EditForm OnValidSubmit="TryPublish" Model="_publishModel">
                    <DataAnnotationsValidator />


                    <div class="form-group">
                        <label for="twoFactorInput">Two factor code</label>
                        <InputText id="twoFactorInput" @bind-Value="_publishModel.TwoFactorCode" class="form-control" />
                    </div>


                    <button class="btn btn-outline-success btn-block" type="submit">Publish</button>
                </EditForm>

                @if (!string.IsNullOrEmpty(_twoFactorError))
                {
                    <small class="text-muted text-danger">@_twoFactorError</small>
                }
            </ModalBody>
            <ModalFooter>
                <button class="btn btn-outline-warning btn-block" @onclick="CancelPublish">Cancel</button>
            </ModalFooter>
        </ModalContent>
    </Modal>
}

@code
            {
    [Parameter]
    public string StringPostId { get; set; }

    private PostModel _currentPost;
    private int _totalComments;

    private ClaimsPrincipal _currentUser;

    private Modal _twoFactorCodeModal;
    private PublishPostModel _publishModel = new();
    private string _twoFactorError;

    private PostCommentModel _postCommentModel = new();

    protected override async Task OnInitializedAsync()
    {
        if (Guid.TryParse(StringPostId, out var id))
            _currentPost = await PostService.GetPost(id);

        var authState = await AuthStateProvider.GetAuthenticationStateAsync();

        _currentUser = authState.User;
    }

    private async ValueTask<ItemsProviderResult<CommentModel>> LoadComments(ItemsProviderRequest request)
    {
        var commentNum = Math.Min(request.Count, _totalComments - request.StartIndex);
        var result = await PostService.GetComments(_currentPost.Id, request.StartIndex, commentNum == 0 ? request.Count : commentNum);
        _totalComments = result.TotalSize;

        return new ItemsProviderResult<CommentModel>(result.Items, _totalComments);
    }

    private async Task PostComment()
    {
        _postCommentModel.PostId = _currentPost.Id;
        await PostService.PostComment(_postCommentModel);
        NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }

    private async Task DeletePost()
    {
        await PostService.DeletePost(_currentPost.Id);
        await OnInitializedAsync();
    }

    private async Task HidePost()
    {
        await PostService.HidePost(_currentPost.Id);
        await OnInitializedAsync();
    }

    private async Task PublishPost()
    {
        try
        {
            await PostService.CheckPublishPost(_currentPost.Id);
            _twoFactorCodeModal.Show();
        }
        catch (HttpRequestException e)
        {
            if (e.StatusCode == HttpStatusCode.BadRequest)
                _twoFactorError = "You don't have two factor authentication setup! Please first enable it in your account settings.";
            else
                throw;
        }
    }

    private void CancelPublish()
    {
        _publishModel = new PublishPostModel();
        _twoFactorCodeModal.Hide();
    }

    private async Task TryPublish()
    {
        try
        {
            _publishModel.Id = _currentPost.Id;
            await PostService.PublishPost(_publishModel);
            _publishModel = new PublishPostModel();
            _twoFactorCodeModal.Hide();
            await OnInitializedAsync();
        }
        catch (HttpRequestException e)
        {
            if (e.StatusCode == HttpStatusCode.Unauthorized)
                _twoFactorError = "Invalid two factor code";
            else
                throw;
        }
    }

    private static string GetAlertLevelFromStatus(PostStatus status)
    {
        switch (status)
        {
            case PostStatus.Hidden:
                return "alert-warning";
            case PostStatus.Deleted:
                return "alert-danger";
            case PostStatus.Published:
                return "alert-success";
            default:
                throw new ArgumentOutOfRangeException(nameof(status), status, null);
        }
    }
}
