﻿@page "/usermanagement"

@using M183Project.Client.Models.User
@using M183Project.Common.Roles
@using M183Project.Shared.User
@using Newtonsoft.Json
@using System.Net
@using System.Text
@using M183Project.Client.Services
@using Microsoft.AspNetCore.Authorization

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject CustomStateProvider AuthenticationStateProvider
@inject IJSRuntime JsRuntime

@attribute [Authorize(Roles = DatabaseRoles.Administrator)]

<div class="container">
    <h1>User Management</h1>
    <hr />
    @foreach (var user in _users)
    {
        <div class="border rounded p-2">
            <div class="d-flex justify-content-between align-items-end">
                <h2 class="mb-0" @onclick="@(() => NavigationManager.NavigateTo($"/user/{user.UserName}"))">@user.UserName</h2>
                <div>
                    <select value="@user.Role" @onchange="@(async e => await SelectChanged(e, user.UserName))" class="form-control">
                        <option>@DatabaseRoles.User</option>
                        <option>@DatabaseRoles.Administrator</option>
                    </select>
                </div>
            </div>
        </div>
    }
</div>

@code
{
    private IEnumerable<UserManageModel> _users = new List<UserManageModel>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var result = await HttpClient.GetAsync("api/User/GetUsers");
            result.EnsureSuccessStatusCode();

            var content = JsonConvert.DeserializeObject<List<GetUserManageResponse>>(await result.Content.ReadAsStringAsync());
            _users = content.Select(x => new UserManageModel { UserName = x.UserName, Role = x.Role });
        }
        catch (HttpRequestException e)
        {
            if (e.StatusCode != HttpStatusCode.Unauthorized) throw;

            NavigationManager.NavigateTo($"/login?returnUrl={NavigationManager.ToBaseRelativePath(NavigationManager.Uri)}");
        }
    }

    private async Task SelectChanged(ChangeEventArgs e, string userName)
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User.Identity!.Name;
        if (user == userName)
        {
            var confirmResult = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to change your own role?");
            if (!confirmResult)
                return;
        }

        try
        {
            var content = new StringContent(JsonConvert.SerializeObject(new SetUserRoleRequest(userName, e.Value?.ToString())), Encoding.UTF8, "application/json");
            var result = await HttpClient.PostAsync("api/User/SetUserRole", content);
            result.EnsureSuccessStatusCode();

            await AuthenticationStateProvider.RefreshAuthenticationState();
            StateHasChanged();

            await OnInitializedAsync();
        }
        catch (HttpRequestException exception)
        {
            if (exception.StatusCode != HttpStatusCode.Unauthorized) throw;

            NavigationManager.NavigateTo($"/login?returnUrl={NavigationManager.ToBaseRelativePath(NavigationManager.Uri)}");
        }
    }
}
