﻿@page "/user/{UserName}"
@using M183Project.Shared.User
@using System.Net
@using Humanizer
@using M183Project.Client.Models.Comments
@using M183Project.Client.Models.Posts
@using M183Project.Client.Models.User
@using M183Project.Client.Services.Posts
@using M183Project.Common.Post
@using Markdig
@using Newtonsoft.Json

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IPostService PostService

<div class="container">
    @if (_currentUser == null)
    {
        <alert class="alert alert-warning">User with username @UserName not found</alert>
    }
    else
    {
        <h1>@_currentUser.UserName</h1>
        <hr />

        <div class="container h-75">
            <h3>Posts</h3>
            <div style="overflow: scroll; max-height: 20em">
                <Virtualize Context="post" ItemsProvider="LoadPosts">
                    <div class="border rounded p-2">
                        <div class="d-flex justify-content-between align-items-end">
                            <h2 @onclick="(() => NavigateToPost(post.Id))">@post.Title</h2>
                            <div class="d-flex flex-column">
                                <div class="d-flex">
                                    <NavLink href="@($"/user/{post.OriginalPoster}")" class="h5 nav-link pb-0">@post.OriginalPoster</NavLink>
                                    <span class="m-auto">@($"Posted {post.CreatedAt.Humanize()}")</span>
                                </div>
                                <span class="m-auto py-2 px-5 rounded @GetAlertLevelFromStatus(post.Status)">@($"{post.Status.ToString()}")</span>
                            </div>
                        </div>
                        <hr />
                        <div>
                            <p class="h-50">@Markdown.ToPlainText(post.Content.Truncate(200))</p>
                        </div>
                    </div>
                </Virtualize>
            </div>
            <h3 class="mt-5">Comments</h3>
            <div style="overflow: scroll; max-height: 20em">
                <Virtualize ItemsProvider="LoadComments" Context="comment">
                    <div class="border rounded p-2">
                        <div class="d-flex justify-content-between align-items-end">
                            <NavLink href=@($"/post/{comment.PostId}") class="h5 nav-link pb-0 mb-0">
                                @comment.PostTitle
                            </NavLink>
                            <span>@($"Posted {comment.CreatedAt.Humanize()}")</span>
                        </div>
                        <hr />
                        <div>
                            <span class="h-50">@comment.Content</span>
                        </div>
                    </div>
                </Virtualize>
            </div>
        </div>
    }
</div>

@code
{
    [Parameter]
    public string UserName { get; set; }

    private UserModel _currentUser;

    private int _totalPosts;
    private int _totalComments;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var result = await HttpClient.GetAsync($"api/User/GetUser?UserName={UserName}");
            result.EnsureSuccessStatusCode();

            var content = JsonConvert.DeserializeObject<GetUserResponse>(await result.Content.ReadAsStringAsync());
            _currentUser = new UserModel
            {
                UserName = content.UserName
            };
        }
        catch (HttpRequestException e)
        {
            if (e.StatusCode == HttpStatusCode.BadRequest)
                return;

            throw;
        }
    }

    private async ValueTask<ItemsProviderResult<PostModel>> LoadPosts(ItemsProviderRequest request)
    {
        var postNum = Math.Min(request.Count, _totalPosts - request.StartIndex);
        var result = await PostService.GetPostsFromUser(UserName, request.StartIndex, postNum == 0 ? request.Count : postNum);
        _totalPosts = result.TotalSize;

        return new ItemsProviderResult<PostModel>(result.Items, _totalPosts);
    }

    private async ValueTask<ItemsProviderResult<CommentModel>> LoadComments(ItemsProviderRequest request)
    {
        var commentNum = Math.Min(request.Count, _totalComments - request.StartIndex);
        var result = await PostService.GetCommentsForUser(UserName, request.StartIndex, commentNum == 0 ? request.Count : commentNum);
        _totalComments = result.TotalSize;

        return new ItemsProviderResult<CommentModel>(result.Items, _totalComments);
    }

    private void NavigateToPost(Guid id) => NavigationManager.NavigateTo($"/post/{id}");

    private async Task<string> GetPostTitle(Guid id)
    {
        var result = await PostService.GetPost(id);
        return result.Title;
    }

    private static string GetAlertLevelFromStatus(PostStatus status)
    {
        switch (status)
        {
            case PostStatus.Hidden:
                return "alert-warning";
            case PostStatus.Deleted:
                return "alert-danger";
            case PostStatus.Published:
                return "alert-success";
            default:
                throw new ArgumentOutOfRangeException(nameof(status), status, null);
        }
    }
}
